@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{

        var userId = Context.Session.GetString("userId");
        if (userId == null)
        {
            // Context.Response.Redirect("/Account");

        }
    }
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="text-dark" class="nav-link" asp-controller="Blog" asp-action="Index">Blogs</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown  ">
                            <a class="nav-link text-dark" asp-controller="Account" class="nav-link dropdown-toggle" data-toggle="dropdown">Drug Disposal</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-controller="Blog" asp-action="AddPost" asp-route-name="@User.Identity.Name">PickUp</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Home" asp-action="Map">Drop off</a>
                            </div>


                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    @if (@userId != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <strong>@userId</strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="text-dark" class="nav-link" asp-controller="Blog" asp-action="Index">Blogs</a>
                                </li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown  ">
                            <a class="nav-link text-dark" asp-controller="Account" class="nav-link dropdown-toggle" data-toggle="dropdown">Login</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Signin">Pharmacy</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Login">User</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark" asp-controller="Account" class="nav-link dropdown-toggle" data-toggle="dropdown">Register</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" asp-controller="Account" asp-action="Signup">Pharmacy</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="Account" asp-action="Register">User</a>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="text-dark" class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>

                    }

                </ul>
            </div>
         

        </nav>
 </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - FinalProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
