@model IList<FinalProject.Models.Blog>
        
    <html>
<head>
    <style>
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }

        body {
            background: #39a0ca;
            background: linear-gradient(to right, ##f9c5bd, #fbaf08, #8076a3, #8076a3);
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

            .card-signin .card-title {
                margin-bottom: 2rem;
                font-weight: 300;
                font-size: 1.5rem;
            }

            .card-signin .card-body {
                padding: 2rem;
            }

        .form-signin {
            width: 2000px;
        }

            .form-signin .btn {
                font-size: 80%;
                border-radius: 5rem;
                letter-spacing: .1rem;
                font-weight: bold;
                padding: 1rem;
                transition: all 0.2s;
            }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

           
            .form-label-group > input,
            .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x);
            }

           
         </style>
    </head>

<body>
   
    @foreach (var blog in Model)
    {

        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-10 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h3>Medicine Name</h3>
                            <h5>@blog.MedicineName</h5>

                            @if (blog.Name != null)
                            {
                                @:Posted by<i>@blog.Name</i>
                            }
                            <h3>Description</h3>
                            <h6>@blog.Description</h6>
                            <h3>Address</h3>
                            <h6>
                                @blog.StreetNumberAndName,@blog.City,@blog.State,
                                @blog.ZipCode
                            </h6>
                            <h4>Posted on </h4><i>@blog.PostTime</i>


                        </div>
                    </div>
                </div>
            </div>
        </div>
      



    }
</body>
    </html>


