@model IList<FinalProject.Models.Blog>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        @foreach (var post in Model)
                            {
                            <div class="post-heading">
                                <h2>Medicine Name</h2>
                                <h2>@post.MedicineName</h2>

                                @if (post.Name != null)
                                {
                                    @:Posted by<i>@post.Name</i>
                                }
                                <p>@post.Description</p>
                                <h4>Address</h4>
                                <p>@post.StreetNumberAndName,@post.City,@post.State,@post.ZipCode</p>
                                <h4>Posted on </h4><i>@post.PostTime</i>


                            </div>
                        }
                        </div>
                    </div>
                </div>
